.layout {
  position: relative;
  top: 0;
  bottom: 0;
}
.side-bar {
  width: 240px;
  z-index: 99;
  background-color: antiquewhite;
  height: 100vh;
}
.side-bar-logo {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.side-bar-logo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-bar-menu .one-menu {
  padding: 10px 20px;
}
.side-bar-menu .one-menu:hover {
  background-color: #fff;
  cursor: pointer;
}
.container-inner {
}